<!-- Análise de Lucro -->
<section
  class="w-full rounded-2xl bg-surface-container shadow-sm/15 p-6 space-y-4"
>
  <header class="mb-3">
    <div class="flex items-center gap-2">
      <svg class="h-5 w-5 text-on-surface-variant" fill="currentColor" aria-hidden="true">
        <use href="/sprite.svg#icon-dinheiro"></use>
      </svg>
      <h2 class="body-large text-on-surface-variant">Análise Lucro</h2>
    </div>
  </header>

  <div class="mb-4 flex items-center justify-between">
    <app-segmented-control
      [opcoes]="periodosGrafico"
      [opcaoAtivaId]="periodoGraficoAtivoId()"
      (selecaoMudou)="onPeriodoGraficoSelect($event)"
    />
  </div>

  <app-grafico-lucro
    [periodo]="mapIdToPeriodoGrafico(periodoGraficoAtivoId())"
  ></app-grafico-lucro>

  <!-- Destaque de Lucro -->
  <div class="flex items-start gap-3 rounded-xl bg-secundary p-4">
    <span
      class="mt-0.5 inline-flex h-6 w-6 items-center justify-center rounded-md text-on-surface-variant"
    >
      <svg class="h-5 w-5" fill="currentColor" aria-hidden="true">
        <use href="/sprite.svg#icon-dinheiro"></use>
      </svg>
    </span>
    <div>
      <div class="body-large text-on-surface-variant">Lucro</div>
      @if (isLoading()) {
      <div class="h-8 w-38 rounded shimmer"></div>
      } @else {
      <div class="title-big text-on-surface leading-8 text-gray-900">
        {{ lucro() ?? 0 | currency : "BRL" : "symbol" : "1.2-2" }}
      </div>
      }
    </div>
  </div>
</section>
