@if (isModalProdutoAberto()) {
<app-formulario-produto
  [produto]="produtoParaEditar()"
  (fechar)="fecharModalProduto()"
  (salvo)="onSucessoFormulario()"
></app-formulario-produto>
}

<div class="w-full max-w-none px-4 bg-white space-y-4">
  <div
    class="toolbar flex flex-col md:flex-row justify-between items-start md:items-center gap-y-2 pt-2 pb-4"
  >
    <div class="min-h-10">
      @if (isLoadingFornecedores()) {
      <div class="inline-flex items-center gap-2">
        <div
          class="h-11 w-68 rounded-full bg-surface-container animate-pulse"
        ></div>
      </div>
      } @else {
      <app-segmented-control
        [opcoes]="fornecedores()"
        [opcaoAtivaId]="fornecedorSelecionadoId()"
        (selecaoMudou)="onFornecedorSelecionado($event)"
      >
      </app-segmented-control>
      }
    </div>

    <app-botao
      label="Adicionar Peça"
      (buttonClick)="abrirModalProduto()"
    ></app-botao>
  </div>

  <app-lista-produtos
    [produtos]="produtos()"
    [isLoading]="isLoadingProdutos()"
    [ordemDataCriacao]="ordenarPorDataCriacao()"
    (vendaConcluida)="onSucessoFormulario()"
    (toggleOrdenacaoDataCriacao)="onToggleOrdenacaoDataCriacao()"
  ></app-lista-produtos>
</div>
