@if (mostrarModalCliente()) {
<app-formulario-cliente (fechar)="closeClienteModal()"></app-formulario-cliente>
}

<section
  role="region"
  aria-label="Fornecedores"
  class="flex flex-col p-4 bg-surface-container rounded-xl h-full"
>
  <header
    class="flex items-center gap-3 rounded-lg bg-surface p-6 z-5 shadow-lg"
    aria-label="Cabeçalho Fornecedores"
  >
    <svg class="icone-38" aria-hidden="true" focusable="false">
      <use [attr.href]="'/sprite.svg#icon-pessoas'"></use>
    </svg>

    <h2 class="title-big leading-none text-on-surface">Fornecedores</h2>

    <div class="ms-auto">
      <app-botao
        label="Adicionar Cliente"
        (buttonClick)="abrirClienteModal()"
      ></app-botao>
    </div>
  </header>

  <div class="flex-1 rounded-lg px-4">
    <ul
      role="list"
      style="max-height: calc(100vh - 200px)"
      class="flex flex-col overflow-y-auto"
      aria-label="Lista de Fornecedores"
    >
      @for (cliente of clientes(); track cliente.id) {
      <li
        role="listitem"
        class="rounded-xl border border-[#f0f0f0] bg-white p-4 shadow-soft m-2"
      >
        <app-cliente-item [cliente]="cliente" />
      </li>
      } @empty {
      <p class="p-8 text-center body-large text-on-surface-variant">
        Nenhum fornecedor encontrado.
      </p>
      }
    </ul>
  </div>
</section>
