@use "tailwindcss";

@use "@fontsource/inter/600.css" as *;
@use "@fontsource/inter/500.css" as *;
@use "@fontsource/inter/400.css" as *;
@use "@fontsource/inter/200.css" as *;

@theme {
  // Cores
  --color-primary: #9fa86d;
  --color-primary2: #aab37a;
  --color-surface: #ffffff;
  --color-surface-container: #f4f3f1;
  --color-surface-container2: #e5e5e5;
  --color-outline: #7d835a;
  --color-secundary: #e5e8d1;
  --color-secundary2: #ced2b8;
  --color-on-surface: #1b1c1e;
  --color-on-surface-variant: #53544f;

  // Shadows
  --shadow-btn: 0 2px 10px 0px rgba(0, 0, 0, 0.2);
}

body {
  font-family: "Inter", sans-serif;
  margin: 0; /* remove margem padrão do navegador para evitar faixa branca */
}

.icone {
  width: 22px;
  height: 22px;
}

.icone-38 {
  width: 34px;
  height: 34px;
}

.title-big {
  font-size: 42px;
  line-height: 46px;
  letter-spacing: 0%;
  font-weight: 600;
}

.title-medium {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  font-weight: 600;
}

.body-large {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  font-weight: 400;
}

.body-medium {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  font-weight: 400;
}

.label-large {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  font-weight: 500;
}

.label-medium {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0%;
  font-weight: 400;
}

/* Scrollbar global */
* {
  scrollbar-width: thin;
  scrollbar-color: #e5e5e5 transparent;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #e5e5e5;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #d4d4d4;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
